$light-gray:    #eee;
$middle-gray:   #ebebeb;
$offset-gray:   #a5a6a4;
$gray:          #ccc; 
$bg-gray:       #f9f8f8;
$font-gray:     #5d5d5d; 
$dark-gray:     #404040;
$sky-blue:      #0c5e9a;
$light-sky:     #2877b1;
$dark-sky:      #0f4c79;
$white:         #fff;


$header-height:    100px;
$pointer-position-left: 30px; 

