@mixin applicationItem(){
  @include bp-at-least($bp__sm){
    border-right: 3px solid #fff;
  }

  color:$font-gray;
  img{
      max-width: 100%;
      position: relative;
      display: block;
      margin: 0 auto;
  }
  h4{
      font-weight: 600;
  }
  p{
      font-size: .85em;
      @include bp-at-least($bp__sm){
        min-height: 90px;
      }
  }
  ul {
      padding-left: 0;
  }
  a{
      font-size: .75em;
      text-decoration: none;
      color: $font-gray;
      transition: all .5s ease;
      &:hover{
        color: $sky-blue;
        text-decoration: underline;
        letter-spacing: .75px;
      }

  }

}
