@mixin bp-at-least($device-width) {
  @media screen and (min-width: $device-width) {
    @content
  }
}

// Breakpoint Until
@mixin bp-until($device-width) {
  @media screen and (max-width: $device-width - .01) {
    @content
  }
}

// Breakpoint Between
@mixin bp-between($device-width, $device-width2) {
  @media screen and (min-width: $device-width) and (max-width: $device-width2) {
    @content
  }
}
