@mixin c2lButton($color){

        @if $color == $sky-blue {
           background: $sky-blue;
           border: 3px solid $dark-sky;
           color: #fff;
         } @else {
           background: transparent;
           border: 3px solid $sky-blue;
           color: $sky-blue;
           
         }
        display: inline-block;
        text-align: center;
        text-decoration: none;
        padding: 10px;
        width: 40%;
        border-radius: 4px;
        text-transform: uppercase;
        font-size: .7em;
        transition: background-color 0.5s ease;
        &:hover{
            color: $sky-blue;
            background: $light-gray;
        }

}


@mixin douglasButton($color){

        @if $color == $sky-blue {
           background: $sky-blue;
           border: 3px solid $dark-sky;
           color: #fff;
         } @else {
           background: transparent;
           border: 3px solid $sky-blue;
           color: $sky-blue;
           
         }
        display: inline-block;
        text-align: center;
        text-decoration: none;
        padding: 10px;
        border-radius: 4px;
        text-transform: uppercase;
        font-size: .7em;
        transition: background-color 0.5s ease;
        &:hover{
            color: $sky-blue;
            background: $light-gray;
        }

}
