@mixin productItem(){
  @include bp-at-least($bp__sm){
    border-right: 3px solid #fff;
  }

  color:$font-gray;
  img{
      max-width: 100%;
      position: relative;
      display: block;
      margin: 0 auto;
  }
  h4{
      font-weight: 600;
  }
  p{
      font-size: .85em;
      @include bp-at-least($bp__sm){
        min-height: 90px;
      }
  }
  a{

      font-size: .75em;
      &.viewOverview{
          @include c2lButton($sky-blue);
          width: 100%;
          margin-bottom: 10px;
          @include bp-at-least($bp__xl){
            width: 40%;
          }
      }
      &.viewResources{
          @include c2lButton(null);
          width: 100%;
          @include bp-at-least($bp__xl){
            width: 58%;
          }
      }
      &.viewProducts{
        @include c2lButton($sky-blue);
        width: 100%;
      }

      @include c2lButton(null);
  }
}
