.square--three-up{
  margin-top: 2*$unit;
  @include bp-at-least($bp__md) {
    float: left;
    width: calc(100% / 3 - 1.25em);
    & + &{
      margin-left: 1*$unit;
    }
  }
}
.square--three-up__heading {
  margin-top: 0.2*$unit;
  margin-bottom: 0.3*$unit;
  line-height: 1.3;
}
.square--three-up figure{
  margin: 0;
  overflow: hidden;
}
.square--three-up figure > img{
  margin-bottom: 1*$unit;
  @include bp-at-least($bp__sm) {
    float: left;
    width: 50%;
    margin-right: 1*$unit;
  }
  @include bp-at-least($bp__md) {
    float: none;
    width: 100%;
    margin-right: auto;
  }
}

.square--two-up{
  margin-top: 2*$unit;
  width: 100%;
  @include bp-at-least($bp__md) {
    float: left;
    width: calc(100% / 2 - 1.25em);
    & + &{
      margin-left: 1*$unit;
    }
  }
}

.square--sixty-forty{
  margin-top: 2*$unit;
  @include bp-at-least($bp__md) {
    float: left;
    width: calc(60% - 1.25em);
    & + &{
      margin-left: 1*$unit;
      width: calc(40% - 1.25em);
    }
  }
}

.square--quarter-threequarter{
  margin-top: 2*$unit;
  @include bp-at-least($bp__lg) {
    float: left;
    width: calc(25% - 1.25em);
    & + &{
      margin-left: 1*$unit;
      width: calc(75% - 1.25em);
    }
  }
}

.square--three-two-up{
  margin-top: 2*$unit;
  float: left;
  & + &{
    margin-left: 1*$unit;
  }
  @include bp-until($bp__md) {
    width: calc(100% / 2 - 1.25em);
  }
  @include bp-at-least($bp__md) {
    width: calc(100% / 3 - 1.25em);
  }
}

.contact-cards > div {
  @include bp-at-least($bp__md) {
    float: left;
    width: calc(100% / 3 - 1.25em);

    & p {
      margin-top: 0;
      margin-bottom: 1.5em;
    }
  }
}
