#about{
    @include cf();
    color: $font-gray;
    padding: 0 1em;
    @include bp-at-least($bp__sm){
      padding: 0 5em;
    }
    >div{
        p{
            line-height: 1.75;
        }
    }
    p {
      line-height: 1.75;
    }
    span {
      font-weight: 600;
    }
    .about-links {
      display: flex;
      justify-content: space-around;
    }
    .about-links a {
      text-decoration: none;
      color: inherit;
    }
    @media screen and (max-width: 700px) {
      .about-links {
        flex-direction: column;
      }
    }

    ul, li {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    a {
      text-decoration: none;
      color: #0c5e9a;
    }
    p {
      line-height: 1.3em!important;
    }
    .press-releases {
      width: 47%;
      float: left;
    }
    .videos {
      width: 47%;
      float: right;
    }
}
