.activeAccordion {
  &:after {
    content: '\f078';
    font-family: FontAwesome;
    margin-left: 20px;
    color: $font-gray;
  }
}

.inactiveAccordion {
  &:after {
    content: '\f054';
    font-family: FontAwesome;
    margin-left: 20px;
    color: $font-gray;
  }
}

.slideTrigger {
  cursor: pointer;
}
