#applicationWell{
    background: $bg-gray;
    @include cf();
   .applicationRow{
    border-top: 3px solid #fff;
    &:first-of-type{
        border-top: 0;
    }
   }
   .applicationItem{
        @include col(1);
        @include applicationItem();
        padding: 25px 28px;
        position: relative;
        border-bottom: 1px solid $light-gray;
        @include bp-at-least($bp__sm){
          @include col(1/2, 0, 2);
          border-bottom: none;
        }
        @include bp-between($bp__sm, $bp__md){
          &:nth-child(2n+2){
            border-right: 0;
          }
        }
        @include bp-at-least($bp__md){
          @include col(1/3, 0, 3, 2);
          &:nth-child(3n+3){
              border-right: 0;
          }
        }
        img{
            position: relative;
            display: block;
            margin: 0 auto;
        }
    } 
    .ovalList{
        list-style: none;
        color: $sky-blue;
        font-size: 20px;
        padding-left: 20px !important;
        li {
            margin-bottom: 15px;
            position: relative;
        }
        li:before {
            content: "◦";
            position: absolute;
            display: inline-block;
            font-size: 24px;
            line-height: 15px;
            vertical-align: -3px;
            color: $sky-blue;
            left: -0.7em;
            top: 0.1em;
        }
    }
}
