#contactPage{
    margin-top: $header-height;
    
    #form{
        background:$middle-gray;
        .form-group{
            margin-bottom: 30px;
        }
        label{
            display: block;
            margin-bottom: 15px;
        }
        input, textarea{
            background: $bg-gray;
            width: 100%;
        }
        input[type='submit']{
            @include c2lButton($sky-blue);
        }
        padding: 20px;
        margin-bottom: 40px;
    }

    #mapInfo{
        ul{
            list-style-type: none;
            padding-left: 0;
            li{
                padding-bottom: 10px;
            }
        }
    }
    #mapContainer {
      display: none;
      @include bp-at-least($bp__sm){
        display: block;
      }
    }
}
