.e2ma_signup_form{
  max-width: 100%;
}

.e2ma_signup_form_row{
  border: none;
}
.e2ma_signup_form_element input{
  margin-bottom: 10px !important;
}

.e2ma_signup_form_label{
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  padding-top: 10px;
  clear: both;
  margin-bottom: 5px; 
}

.e2ma_signup_form_required_asterix{
  float: none !important;
  clear: none;
}

.e2ma_signup_form_required_footnote{
  clear: both;
  margin-bottom: 10px;
  font-size: 13px;
}

.e2ma_signup_form_button_row{
  margin-top: 20px;
}

.e2ma_signup_form_button_row{
  padding: 0 20px;  
  @include bp-at-least($bp__sm){
    padding: 0;
  }
}

.e2ma_signup_form_button_row input{
  width: 100%;
}

#e2ma_signup_submit_button{
  @include bp-at-least($bp__sm){
    margin-right: 10px; 
    width: 60%;
  }
}

#e2ma_signup_reset_button{
  text-transform: uppercase;
  font-size: 0.7em;
  padding: 13px;
  text-align: center;
  margin-top: 20px;
  @include bp-at-least($bp__sm){
    width: 30%;
    margin-top: 0;
  }
}
