
//////////////////////////////// filter page

.grayContainer{
    background: $bg-gray;
}

.filter_top{
    border-bottom: 2px solid $light-gray;
}

#categoryHeadline{
    // @include span(1/2);
    h2{
        color: $sky-blue;
    }
}

#productSearch{
    @include span(1/2);
    input{
        float:right;
        margin-top: 20px;
        background: #fff url("../images/search-blue.png") no-repeat 102%;
        padding-right: 43px;
        width: 250px;
    }
}
