#findRepBar{
    background: $dark-gray;
    padding: 20px 0px;
    text-align: center;
    color: white;
    overflow: hidden;
    h2{
        display: inline;
        margin: 0 15px;
        vertical-align: middle;
    }
    .fa{
        font-size: 2em;
        vertical-align: middle;
    }   
    input{
        padding: 13px 10px;
        margin-right: 15px;
        width: 220px;
        font-size: .75em;
        @include bp-until($bp__sm){
          width: 180px;
        }
    }
    input[type="submit"]{
        vertical-align: bottom;
        @include c2lButton(null);
        border-color: #fff;
        color: #fff;
        font-size: .75em;
        width: 75px;
        font-weight: bold;
        &:hover{
            background: #fff;
        }
    }
    .square--two-up {
      margin-top: 0.5em;
      text-align: center;
      @include bp-at-least($bp__md) {
        &:first-of-type {
          text-align: right;
        }
        &:nth-of-type(2) {
          text-align: left;
        }
      }
    }
}
