footer{

    font-size: .85em;
    h3{
        font-size: 1.5em;
        font-weight: 300;
    }
    @include cf();
    color: white;
    background: $sky-blue;
    .logoLegal{
        img{
            margin-top: 25px;
            max-width: 150px;
            @include bp-at-least($bp__md){
              max-width: 200px;
            }
        }
    }

    .links{
        position: relative;
        padding-left: 5em;
        @include cf();
        h3{
            margin-bottom: 0;
        }
        ul{
            list-style-type: none;
            padding-left: 0;
            li{
                line-height: 2;
                a{
                    color: white;
                    text-decoration: none;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    .contactForm {
      @include bp-until($bp__md) {
        display: none;
      }
    }

    form{
        input, textarea{
            background: $light-sky;
            width: 100%;
            color: #fff;
        }
        label{
            margin: 14px 0 7px;
            display: block;
        }
        input[type=submit]{
            @include c2lButton($sky-blue);
            border: 3px solid #fff;
            color: #fff;
            float: right;
            margin: 15px 0 30px;
            &:hover{
                background: #fff;
            }

        }
    }

    .footer-logos {
      margin-bottom: 1rem;
      text-align: center;

      a, img {
        display: block;
        margin: 1rem auto;
      }

      .ashrae-text {
        display: inline-block;
        margin-left: 15px;
        vertical-align: middle;
      }

      @include bp-at-least($bp__sm) {
        max-width: 700px;
        margin: 1rem auto;

        a, img {
          display: inline-block;
          vertical-align: middle;
        }
      }

      @include bp-at-least($bp__lg) {
        float: left;
        text-align: left;
        margin: 0;

        a {
          margin-right: 1rem;
        }
      }
    }

    #panasonic {
      text-align: center;
      padding: 2rem 1.25rem 2rem 0;

      &::after {
        content: 'A member of the Panasonic Group';
        top: .51rem;
        position: relative;
      }

      img, .img {
        height: 25px;
        width: 161px;
        margin: 0 auto;
        display: block;
        background-image: url(/images/panasonic_logo.svg);
        background-repeat: no-repeat;
        background-size: contain;
      }

      @include bp-at-least($bp__md) {
        text-align: right;

        &::after {
          content: '';
        }

        & img, & .img {
          width: 397px;
          margin: 0 auto;
          display: inline-block;
          background-image: url(/images/panasonic-logo-disclaimer-white.png);
        }
      }
    }

    .container.no-margin{
            margin-top: 0;
        }
}
