header{
  transition: background 1s ease;
  .rowTwo{
    position: relative;
    .mobile-blue-bar {
      background-color: $sky-blue; 
      height: 2em;
      @include bp-at-least(801px){
        display: none;
      }
    }
  }
  .clearfix{
    clear: both;
  }
  background: #fff;
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  border-bottom: 1px solid $gray;
  .rowOne{
    ul{
      margin-bottom: 0;
      padding-left: 0;
    }
    li{
      list-style: none;
      text-align: right;
    }
    li + li{
      margin-top: 7px;
    }
    a{
      color: $font-gray;
      text-decoration: none;
      &:visited{
        color: $font-gray;
      }
      &:hover{
        color: $sky-blue;
      }
    }
    span{
      @include bp-until(480px){
        display: block;
      }
    }
  }
  .mainLogo{
    @include col(1/4);
    margin-top: 10px;
    @include bp-between(481px, 800px){
      margin-top: 15px;
      @include col(1/3);
    }
    @include bp-until(480px){
      margin-top: 20px;
      @include col(1/2);
    }
    img{
      max-width: 100%;
    }
  }
  
  .search{
    // @include col(1/8);
    max-width: 100%;
    // @include align(vertical);
    // right: 80px;
    input{
      width: 190px;
      background: $bg-gray url('../images/search.png') no-repeat 96% center;
      border: 1px solid $light-gray;
      padding-right: 20px;

    }
  }

  .login{
    // margin-top: 5px;
    i{
      padding-right: 5px;
    }
    a{
      color: $font-gray;
      font-size: 13px;
      margin-left: 4px;
      text-decoration: none;
      &:visited{
        color: $font-gray;
      }
      &:hover{
        color: $sky-blue;
      }
    }
  }
  &.white{
    background: #fff;
  }
}

.ie8, .ie9{
  header{
    background: #fff !important;
  }
}

@media all and (max-width: 800px) {
  header{
    .mainLogo{
    }
  }
}

@media all and (max-width: 480px) {
  header{
    .mainLogo{
    }
  }
}
