
//////////////////////////////// home page styles
#fiveComps{
    @include cf();
    min-height: 245px;
    color: $font-gray;
    padding: 20px 0;
    border-bottom: 1px solid $light-gray;
    overflow: hidden;
    .textZone{
        overflow: hidden;
        margin-top: 2.7%;
        h2{
            margin: 0;
            font-size: 2em;
        }
        h2, p{
            width: 87%;
            float: left;
            margin-right: 7px;

        }
        img{
            display: inline;
            height: 174px;
            @include bp-until($bp__md){
              display: none;
            }
        }
    }
    #compCircles{
        margin-top:27px;
        a{
            background: $light-gray;
            color: #8f8f8f;
            font-weight: bold;
            display: inline-block;
            width: 33px;
            height: 33px;
            text-decoration: none;
            margin-right: 25px;
            border-radius: 50%;
            text-align: center;
            padding-top: 1px;
            font-size: 1.5em;
            &.active{
                background: $sky-blue;
                color: #fff;
            }
            &:hover{
                background: #8f8f8f;
                color: $light-gray;
            }
        }
    }
    #tabbedContent{
        h5{
            font-size: 2em;
            color: $sky-blue;
            margin:10px 0 0 0;
        }
        p{
            margin-top: 10px;
            font-size: 1.1em;
        }
    }
}
#contactCallout{
    @include cf();
    margin-bottom: 2.5em;
    color: $font-gray;
    #register{
        background: $light-gray;
        padding: 0px 25px 15px 20px;
        @include bp-at-least($bp__sm){
          padding: 0px 75px 15px 50px;
        }
        @include col(1);
        h2{
            font-size: 2em;
            margin-bottom: 0;
        }
        p{
            margin-bottom: 20px;
        }
        .twoCol{
            @include col(1/2);
            @include bp-until($bp__sm){
              @include col(1);
            }
        }
        input[type=text]{
            clear: both;
            float: left;
            margin-bottom: 20px;
            width: 93%;

        }
        input[type=submit]{
            @include douglasButton($sky-blue);
        }
        input[type=reset]{
            @include douglasButton(null);
        }
        .error{
            color: red;
            display: block;
            font-style: italic;
            font-weight: bold;
            font-size: 13px;
        }
        span{
            color: $sky-blue;
            float: right;
            font-weight: bold;
        }
    }
    #contact{
        padding: 20px 0;
        @include col(1);
        text-align: center;
        .fa{
            color: $sky-blue;
            font-size: 5em;
        }
        h2{
            margin: 0;
        }
        p{
            width: 54%;
            margin: 10px auto;
        }
        a{
            @include c2lButton(null);
        }
    }
}
