
//////////////////////////////// login page



#loginForm{
    margin-top: $header-height + 75;
    margin-bottom: 40px;
    #agentBlurb{
        width: 50%;
        margin: 0 auto;
    }
    form{
        width: 50%;
        margin:0 auto;
        background: $light-gray;
        padding: 20px;
        margin-bottom: 100px;
       input[type="text"],input[type="password"],input[type="email"]{
           background: #fff;
       } 
    }
    
}
