nav{
    @include cf();
    background-color: $sky-blue;
    margin-top: 10px;
    ul{
        @include cf();
        margin: 0;
        list-style-type: none;
        padding-left: 0;
        li{
            @include span(1/6);
            display: inline;
            text-align: center;
            &:hover{
              background: $bg-gray;
              color: $sky-blue;
              .sub-menu{
                  display: block;
              }
              a{
                color: $sky-blue;
              }
            }
            a{  
              padding: 15px 0 15px;
              display: block;
              color: $white;
              text-decoration: none;
              &:hover{
                color: $sky-blue;
              }
            }
        }
        .nav-icon{
          &:hover{
            background: none;
          }
        }
        .fa-linkedin-square{
          font-size: 1.5em;
          &:hover{
            color: $white;
          }
          &:visited{
            color: $white;
          }
        }
        .sub-menu{
          padding: 20px;
          box-shadow: 0px 3px 3px 0px rgba(96, 96, 96, 0.85);
          background: $bg-gray;
          position: absolute;
          display: none;
          max-width: 500px;
          h3{
            color: $sky-blue;
            text-align: left;
            border-bottom: 1px solid $dark-gray;
            padding-bottom: 10px;
            margin: 0;
          }
          p{
            padding-top: 10px;
            margin-top: 0;
            color: #545554;
            text-align: left;
          }
          ul{
            list-style-type: circle;
            li{
              @include col(1/1);
              text-align: left;
              a{
                padding: 0;
                font-size: 16px;
                color: #545554;
                &:hover{
                  color: $sky-blue;
                }
              }
            }
          }
          img{
            @include col(1/2);
          }
          &:hover{
            display: block;
          }
        }
    }
}

.mobile-menu{
  display: none;
  // float: right;
  margin-right: 1em;
  .menu-trigger{
    @include font-size(1.5);
    cursor: pointer;
    text-align: right;
    margin: 10px auto;
  }
  .mobile-menu-content{
    display: none;
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        padding-bottom: .75em;
        text-align: right;
        a {
          color: #545554;
          text-decoration: none;
          font-size: 1.35em;
          &:visited{
              color: #545554;
            }
          &:hover{
            color: $sky-blue;
            text-decoration: underline;
          }
          &.active{
            color: $sky-blue;
          }
        }
      }
      ul.sub-menu{
        display: none;
        margin: .8em auto 0;
        &.active{
          display: block;
        }
        li {
          list-style: circle inside none;
          color: #0c5e9a;
        }
        a{
          font-size: 1em;
        }
      }
    }
  }
  &.menu-open{
    .mobile-menu-content{
      display: block;
    }
  }
  
  .active{
    display: block;
  }
}


@media all and (max-width: 800px) {
   nav, .search{
    display: none;
   }
  .mobile-menu{
    display: block;
  }
}
