#productWell{
    background: $bg-gray;
    @include cf();
   .productRow{
    border-top: 3px solid #fff;
    &:first-of-type{
        border-top: 0;
    }
   }
   .productItem{
        @include col(1);
        @include productItem();
        padding: 25px 28px;
        position: relative;
        border-bottom: 1px solid $light-gray;
        @include bp-at-least($bp__sm){
          @include col(1/2, 0, 2);
          border-bottom: none;
        }
        @include bp-between($bp__sm, $bp__md){
          &:nth-child(2n+2){
            border-right: 0;
          }
        }
        @include bp-at-least($bp__md){
          @include col(1/3, 0, 3, 2);
          &:nth-child(3n+3){
              border-right: 0;
          }
        }
        img{
            position: relative;
            display: block;
            margin: 0 auto;
        }
        h4 {
          min-height: 2.5em
        }
    }
    .buttonWell {
      width: 75%;
      margin: 2em auto;
      @include bp-at-least($bp__sm){
        width: 100%;
        margin: 0 auto;
      }
    }
}
