#repLocator{
    margin-top: $header-height + 25;
    #selections{
      margin-top: 30px;
      float: left;
      min-height: 680px;
      #stateDropdown{
          margin-bottom: 30px;
          span{
            color: $dark-gray;
          }
      }
      #manualEntry{
        width: 75%;
        @include bp-at-least($bp__sm){
          width: 51%;
          float: left;
        }
        #addressEntry{
          border: 1px solid $light-gray;
          display: block;
          width: 100%;
          padding-top: 8px;
          padding-bottom: 11px;
          color: $dark-gray;
        }
      }
    }
    #map-container{
        display: block;
    }
    #mapContainer {
      display: none;
    }
    @include bp-at-least($bp__lg) {
      #selections, #mapContainer {
        width: 45%;
      }
      #mapContainer{
          float: right;
          margin-top: 55px;
          display: block;
      }
    }
    #loc-list{
        @include cf();
        clear: both;
        
        #list{
            list-style-type: none;
            padding: 0;
            width: 100%;
            li{
                padding-bottom: 20px;
                margin-bottom: 20px;
                border-bottom: 1px solid $dark-gray;
                background: none !important;
                .loc-name{
                    font-weight: bold;
                }
                a{
                    color: $sky-blue;
                    font-weight: bold;
                    transition: all .5s ease;
                    @include word-wrap();
                    &:visited{
                        color: $sky-blue;
                    }
                    &:hover{
                        letter-spacing: .5px;
                    }
                }
                i{
                    width: 15px;
                    margin-right: 10px;
                    text-align: center;
                    color: $dark-gray;
                }
            }
        }
    }
    #form-container{
        display: none;
    }
    #textSearch{
        button{
            @include c2lButton(null);
            width: 75%;
            margin-top: 1em;
            @include bp-at-least($bp__sm){
              margin: 0 0 0 10px;
              width: 40%;
            }
        }
    }
    #instructions{
        width: 53%;
        line-height: 1.5;
    }

}
