/////////////// overview + resources
#overviewResource{
    background: $bg-gray;
    border-top: 1px solid $gray;
    padding-bottom: 50px;
    h2{
        color: $sky-blue;
    }

    #overview{
        @include cf();
        >div{
        }
        ul.blueOvalList{
            padding-left: 23px;
            li{
                span{
                    // display: inline-block;
                    padding-bottom: 10px;
                    font-weight: bold;
                    a{
                        color: $sky-blue;
                        &:visited{
                            color: $sky-blue;
                        }
                        &:hover{
                            color: $dark-gray;
                        }
                    }

                }
                text-indent: -1em;
            }
            ul{
                margin: 0;
                padding: 0;
                padding-left: 20px;
                list-style-type: none;
                li{
                    list-style-image: none;
                    text-indent: 0;
                }
            }
        }

        #specLogos{
            @include cf();
            margin-bottom: 45px;
            margin-top: 20px;
            img, .certification-text {
                float: left;
                height: 38px;
                line-height: 38px;
                margin-right: 20px;
            }
        }

        #imageDimensions{
            position: relative;
            margin-top: 60px;
            .pointer{
                position: absolute;
                top: 0px;
                left: $pointer-position-left;
            }
            .dimensionValues{
                // margin-left: $pointer-position-left + 170;
                margin-bottom: 45px;
                h3{
                    margin:0;
                }
                a{
                    @include c2lButton($sky-blue);
                }
                ul{
                    margin:0;
                    padding: 0;
                    li{
                        padding: 0 15px;
                        display: inline;
                        font-size: .85em;
                        color: $font-gray;
                        border-right: 1px solid $font-gray;
                        &:first-child{
                            padding-left: 0 !important;
                        }
                        &:last-child{
                            border-right: 0;
                        }
                    }
                }
            }
        }

    }

    #resources{
        display: none;
        @include cf();
        position: relative;
        .infoSection{
            a{
                @include c2lButton(null);
                width: 225px;
            }
        }
        .documentWell{
            div{
                // border-bottom: 1px solid $dark-gray;
                // border-right: 1px solid $gray;
                // border-top: 1px solid $light-gray;
                // margin-top: 50px;
                // margin-bottom: 30px;
                // @include col(1/2,0,2);
                // span{
                //     @include span(2/10);
                //     text-align: center;
                //     background: $dark-gray;
                //     color: #fff;
                //     text-transform: uppercase;
                //     padding: 18px 0;
                // }
                // ul{
                //     @include span(8/10);
                //     list-style-type: none;
                //     text-align: center;
                //     font-size: .95em;
                //     li{
                //         a{
                //             text-decoration: none;
                //             color:$sky-blue;
                //             transition: letter-spacing .5s;
                //             &:hover{
                //                 text-decoration: underline;
                //                 letter-spacing: 1px;
                //             }
                //         }
                //     }
                // }
                @include col(1);
                @include bp-between($bp__sm, $bp__md){
                  @include col(1/2,0,2);
                }
                @include bp-at-least($bp__md){
                  @include col(1/3,0,3,2);
                }
                ul.blueOvalList{
                    li{
                        span{
                            font-weight: bold;
                        }
                    }
                    ul{
                        margin: 0;
                        padding: 0;
                        padding-left: 20px;
                        list-style-type: none;
                        li{
                            list-style-image: none;
                            a{
                                text-decoration: none;
                                color: $font-gray;
                                transition: all .5s ease;
                                &:hover{
                                    color: $sky-blue;
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    #buttonSlider{
        @include center();
        text-align: center;
        margin-top: 20px;
        .overviewButton, .resourceButton{
            @include c2lButton($sky-blue);
             width: 250px !important;
             background: $middle-gray;
             border: 0;
             color: $offset-gray;
             padding: 15px;
             font-size: 1em;
             text-transform: none;
             &:hover{
                background: $gray;
             }
             &.active{
                background: $sky-blue;
                color: #fff;
             }
        }
        .overviewButton{
            margin-right: -5px;

            @media screen and (min-width: 532px) {
                border-radius: 4px 0 0 4px;
            }
        }
        .resourceButton{
            @media screen and (min-width: 532px) {
                border-radius: 0 4px 4px 0;
            }
        }
    }
}
