#salesPage{
    @include cf();
    margin-top: $header-height + 75;
    margin-bottom: 75px;
    h1{
        text-align: center;
        margin-bottom: 90px;
    }
    .salesTout{
        &:nth-child(n+2) {
          border-top: 1px solid $light-gray;
          padding-top: 2em;
        }
        h3{
            text-transform: uppercase;
            color: $font-gray;
            font-weight: bold;
        }
        .imageWrapper{
            text-align: center;
            min-height: 195px;
            margin-bottom: 60px;
        }
        p{
            color: $font-gray;
            margin-bottom: 30px;
        }
        a{
            display: block !important;
            margin: 0 auto;
            @include c2lButton(null);
            &:hover{
                background: $sky-blue;
                color: #fff;
            }
            @include bp-at-least($bp__md){
              margin: 0;
            }
        }
        h3, p {
          text-align: center;
        }
        @include bp-at-least($bp__md){
          &:nth-child(n+2) {
            border-top: none; 
            padding-top: 0;
          }
          h3, p {
            text-align: left;
          } 
          p {
            min-height: 60px;
          }
        }
    }
}
