#searchResults{
    margin-top: $header-height;
    span.userSearch{
        font-style: italic;
        font-weight: normal;
    }
    form{
        input[type="text"]{
           border: 1px solid $light-gray;
           padding-top: 6px;
           padding-bottom: 9px;
           width: 100%;
           @include bp-at-least($bp__sm){
            width: 50%;
           }
        }
        input[type="submit"]{
            @include c2lButton(null);
            margin-top: 1em;
        }
    }
    .search {
      display: block;
    }
    ul{
        list-style-type: none;
        padding: 0;
        li{
            a{
                color: $sky-blue;
                transition: all .5s ease;
                font-size: 1.1em;
                &:visited{
                    color: $sky-blue;
                }
                &:hover{
                    color: $dark-gray;
                }
            }
        }
    }
    h3{
        font-weight: bold;
    }
    #productResults{
        h4{
            a{
                color: $dark-gray;
                &:hover{
                    color: $sky-blue;
                }
            }
        }
        a.readMore{
            @include font-size(1);
        }
    }
    #litResults{
        ul{
            li{
                @include col(1);
                @include bp-at-least($bp__sm){
                  @include col(1/2,0, 2);
                }
                word-wrap: break-word;
            }
        }
    }
}
