.likeProductsLabel{
    background: $bg-gray;
    h2{
        color: $sky-blue
    }
}


#snapshot{
     .productImage{
    }
    .productInfo{
        h2{
            color: $sky-blue;
        }
        p{
            line-height: 1.5;
            color: $font-gray;
        }
    }

    img{
        max-width: 55%;
    }
    .buttonSection{
        padding: 20px 0;
        border-top: 1px solid $gray;
        border-bottom: 1px solid $gray;
         p{
            margin-top: 0;
        }
        a{
            @include c2lButton($sky-blue);
            width: 140px;
        }
    }
}

#imageDimensions {
  img {
    width: 100%;
  }
}

.whitebox {
  @include bp-until($bp__sm){
    .resourceButton {
      margin-top: 1em;
    }
  }
}
