.singleApplication {
  img {
    display: block;
    margin: 0 auto 2em;
    max-width: 100%;
    padding-top: 2em;
  } 
  .app-info{
    h2{
      color: $sky-blue;
    }
    p{
      line-height: 1.5;
      color: $font-gray;
    }
  }
  .button {
    margin-top: 1em;
    @include douglasButton($sky-blue);
  }
  .ovalList{
    list-style: none;
    color: $sky-blue;
    padding-left: 20px !important;
    overflow: hidden;
    li {
      margin-bottom: 15px;
      position: relative;
      @include col(1);
      @include bp-at-least($bp__md){
        @include col(1/2, 0, 2, 0, 4);
      }
    }
    li:before {
      content: "◦";
      position: absolute;
      display: inline-block;
      font-size: 24px;
      line-height: 15px;
      vertical-align: -3px;
      color: $sky-blue;
      left: -0.7em;
      top: 0.1em;
    }
  }
  .app-list{
    margin-top: 2em;
    padding-top: 1em;
    border-top: 1px solid $light-gray;
    @include bp-at-least($bp__md){
      border-top: none;
      padding-left: 3em;
      margin-top: 0;
    }
    h3 {
      color: $font-gray;
      font-weight: 600;
    }
  }
  .clearfix {
    clear: both;
  }
}
