#sitemap {
  h1 {
    margin: 1em 0 0;
  }
  h2{
    color: $dark-gray;
    text-decoration: underline;
  } 
  .square--three-up {
    margin-top: 1em;
    padding-left: 2em;
    border-bottom: 1px solid $light-gray;
    @include bp-at-least($bp--md){
      padding-left: 0;
      border-bottom: none;
    }
  }
}
