#spec {
  color: $font-gray;
  padding: 0 2em;
  h1 {
    margin-bottom: 0;
  }
  .specItem {
    padding: 1em;
    border-bottom: 1px solid $light-gray;
    @include bp-at-least($bp__md){
      border-bottom: none; 
      @include col(1/2, 0, 2);
    }
  }
  ul {
    list-style: circle inside none;
    color: $sky-blue;
    font-size: 16px;
    padding-left: 10px;
    @include bp-at-least($bp__sm){
      padding-left: 20px;
    }
    li {
      margin-bottom: 1.5em;
    } 
    a {
      color: $font-gray;
      text-decoration: none;
      &:hover {
        color: $sky-blue;
      }
    }
  }

}
