#techSupport{
    .headerText{
        margin: 0 auto;
    }
    margin-top: $header-height + 25;
    .form{
        margin: 0 auto;
        margin-bottom: 50px;
    }
    @include bp-between($bp__sm, $bp__md){
      .headerText, .form {
        width: 80%; 
      }
    }
       @include bp-at-least($bp__md){
      .headerText, .form {
        width: 50%;
      }
    }
}
