{{#location}}
<li data-markerid="{{markerid}}">
	<!-- <div class="list-label">{{marker}}</div> -->
	<div class="list-details">
		<div class="list-content">
			<div class="loc-name">{{locname}}</div>
			<div class="loc-addr">{{address}}</div> 
			<div class="loc-addr2">{{address2}}</div> 
			<div class="loc-addr3">{{city}}, {{view_state}} {{postal}}</div> 
			<div class="loc-phone"><i class="fa fa-phone"></i>{{phone}}</div>
			<div class="loc-email"><a href="mailto:{{email}}"><i class="fa fa-envelope-o"></i>{{email}}</a></div>
			<div class="loc-web"><a href="http://{{web}}" target="_blank"><i class="fa fa-globe"></i>{{web}}</a></div>
			{{#if distance}}<div class="loc-dist"><i class="fa fa-tachometer"></i>{{distance}} {{length}}</div>
			<div class="loc-directions"><a href="http://maps.google.com/maps?saddr={{origin}}&amp;daddr={{address}} {{address2}} {{city}}, {{view_state}} {{postal}}" target="_blank"><i class="fa fa-map-marker"></i>Directions</a></div>{{/if}}
		</div>
	</div>
</li>
{{/location}}
