.banner{
    color: #fff;
    background-size: cover;
    background-position: center;
    height: 515px;
    width: 100%;
    color: #fff;

    &.home{
        &.classroom{
            background-image: url('../images/banners/Classroom-Offices.jpg');
        }
        &.office{
            background-image: url('../images/banners/OfficeBuildings.jpg');
        }
        &.campus{
            background-image: url('../images/banners/Schools-Campuses.jpg');
        }
        &.retail{
            background-image: url('../images/banners/SmallCommercialRetail.jpg');
        }
        &.stadium{
            background-image: url('../images/banners/Stadiums-Arenas.jpg');
        }
        &.warehouse{
            background-image: url('../images/banners/Warehouse.jpg');
        }
    }

    // .leadCarouselItem {
    //     position: absolute;
    //     top: -50%;
    //     margin: auto;
    //     width: 100%;
    //     min-height: 100%;
    //     overflow-x: hidden;
    // }

    &.about{
        background-image: url('../images/Douglas-Head-Office-Building-Exterior2.jpg');
        // position: relative;
        // background-position: 0 72px;
        .blurb{
            position: absolute;
            bottom: 0;
            left: 75%;
            width: 20%;
            margin: 20px 0;
        }
    }
    top: 0;
    z-index: -5;
    h2{
        margin: 0;
        font-size: 1.7em;
    }
    @include cf();
    .container{
        padding-top: 120px;
    }
    a{
        @include c2lButton($sky-blue);
        font-size: .75em;
    }
    .transparentBox{
        background: $dark-gray;
        background: rgba(0,0,0,0.6);
        width: 56%;
        padding: 18px 23px;
        color: #fff;
    }

    .twoCol{
        @include col(1/2);
        img{
            max-width: 58%;
            display: block;
            margin: 0 auto;
        }
        .offsetLeft{
            margin-top: 50px;
            @include col(6/10,10/24);
            h2{
                font-size: 2em;
                font-weight: bold;
                font-style: italic;
                border-bottom: 7px solid #fff;
            }
            h3{
                font-style: italic;
                font-size: 1.6em;
                margin-top: 0;
            }
            p.lightBackground{
                background: $dark-gray;
                background: rgba(0,0,0,0.6);
                padding: 10px;
            }
        }
    }


}

#bannerRotator{
    height: 550px;
}

.ie8{
    .banner{
        .transparentBox{
            background: $dark-gray;
        }
        p.lightBackground{
            background: $dark-gray;
        }
    }
}

#bannerLoader {
    height: 515px;
    width: 100%;
    text-align: center;
    padding-top: 25%;
    color: #869791;
    opacity: 0.5;
}
