#breadcrumbBar{
    margin-top: $header-height;
    padding: 10px 0px;
    color: $dark-gray;
    ul.breadcrumb{
        padding: 0;
        li{
            display: inline;
            .divider{
                padding:0 10px;
            }
            a{
                color: $dark-gray;
                &:visited{
                    color: $dark-gray;
                }
            }
        }
    }
}
