#carouselContainer{
    background: $bg-gray;
    padding-bottom: 15px;
    margin: 0 50px;
    .owl-carousel .owl-wrapper-outer{
        width: 99%;
    }
    .owl-item{
        .productItem{
            @include productItem();
            padding: 20px 44px;
        }
    }
}

.owl-next {
position: absolute;
right: -45px;
top: 175px;
color: $dark-gray;
display: inline-block;
}

.owl-prev {
position: absolute;
left: -45px;
top: 175px;
color: $dark-gray;
display: inline-block;
}

.application-carousel{
    height: 500px;
    @include bp-at-least($bp__xs){
      height: 640px;
    }
}
