
* {
  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// .container{
    // @include center(970px);
  // take me out and get responsive!!
    // min-width:1070px;
    // width: 100%;
// }

.main{
  @include cf();
}
