.form{
        .form-group{
            margin-bottom: 30px;
        }
        label{
            display: block;
            margin-bottom: 15px;
        }
        input, textarea{
            background: $bg-gray;
            width: 100%;
        }
        input[type='submit']{
            @include c2lButton($sky-blue);
        }
        &.reverse{
            background:$middle-gray;
            padding: 20px;
            margin-bottom: 40px;
        }
    }

.parsley-errors-list{
    color: red;
    font-weight: bold;
    font-style: italic;
    float: left;
}

#adminForm{
    tr{
        height: 45px;
        border-bottom: 1px solid grey;
    }
    .name{
        width: 300px;
    }
    .check{
        width: 20px;
    }
    margin-bottom: 40px;
}

#oneline {
  .square--two-up{
    background-color: $bg-gray;
  }
  h1{
    margin-bottom: 0; 
  }
  h2{
    margin: 0.5em 0 1em;
  }
  .preview h2{
    text-align: center;
  }
  fieldset{
    border: none;
  }
  label, input{
    display: inline-block;
  }
  option{
    color: $dark-gray;
  }
  input[type='text']{
    background: $white;
    color: $dark-gray;
  }
  label{
    width: 100%;
  }
  legend{
    margin-bottom: 1em; 
  }
  select{
    width: 100%;
  }
  input[type='submit']{
    display: block;
    margin: 2.5em auto 1em;
  }
  #total{
    width: 30%;
  }
  img{
    max-width: 100%;
    display: block;
    margin: 0 auto;
  }
  @include bp-at-least($bp__sm){
    select{
      width: 55%;
    }
    label{
      width: 40%;
    }
    .form-group{
      margin-bottom: 20px;
    }
    #total{
     width: 15%;
    }
  }
}

