input,textarea {
  outline: none;
  resize: none;
  border-radius: 3px;
  border: none;
  padding: 5px 10px;
  color: $font-gray;
  font-size: 1em;
}

form span.error{
    color: red;
    display: block;
    font-style: italic;
    font-weight: bold;
}