.blueOvalList{
    list-style: none;
    color: $sky-blue;
    font-size: 20px;
    li{
        margin-bottom: 15px;
        span{
            font-size: 20px;
            color: $font-gray;
        }
        ul{
            font-size: 15px;
            color: $font-gray;
        }
        li:before {
            content: "◦";
            position: absolute;
            display: inline-block;
            font-size: 24px;
            line-height: 15px;
            vertical-align: -3px;
            color: $sky-blue;
            left: -0.7em;
            top: 0.1em;
        }
        li {
            position: relative;
        }
    }
    .detail-text{
        color: $font-gray;
        font-size: 17px;
        font-weight: normal;
        display: inline-block;
        padding-bottom: 1em;
    }
}


.ovalList{
    list-style: none;
    font-size: 20px;
    padding-left: 20px !important;
    li {
        color: $sky-blue;
        margin-bottom: 15px;
        position: relative;
    }
    a {
      color: $font-gray;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
        color: $sky-blue;
      }
    }
    li:before {
        content: "◦";
        position: absolute;
        display: inline-block;
        font-size: 24px;
        line-height: 15px;
        vertical-align: -3px;
        color: $sky-blue;
        left: -0.7em;
        top: 0.1em;
    }
}
