.modal{
    display:none;
    h5{
        color: $sky-blue;
        font-size: 1.5em;
        margin: 0;
        border-bottom: 1px solid $gray;
    }
}

#dfk_modal{
    .imageHolder{
        text-align: center;
        img{
            max-width: 100%;
        }
    }

    .blueOvalList{
        margin-left: 30px;
        li{
            text-indent: -1em;
        }
    }
}

#dimensions_modal{
    img{
        max-width: 100%;
    }
}

video{
    width: 100%;
    height: 100%;
}