.splash{
  
  h1{
    font-size: 3em;
  }
  .column{
    @include span(1/3);

    h3{
      min-height: 45px;
      padding:0 4px;
    }

    img{
      max-width: 200px;
    }
    a.button{
      @include c2lButton($sky-blue);
      font-size: .75em;
    }

  }


  #copyright{
    clear: both;
    padding-top: 60px;
  }
}


@media only screen and (max-width:768px) {

  .column{
      @include span(1);
  }
    
}



