*{
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}

h1,h2,h3,h4,h5,h6{
    font-weight: 300;
}

h1{
    color: $sky-blue;
}

sup{
    font-size: 10px !important;
}

header a {
  font-weight: 300;
}
